/env/
/security/
/demo_projects/
data/
.DS_Store

/AutoScope_Algos/archive/
/AutoScope_Algos/core_algo/data/
/AutoScope_Algos/data_output/
/AutoScope_Algos/data_storage/
/AutoScope_Algos/model_storage/
*.pyc

/Sub_Tasks/data/
/Sub_Tasks/20171030_resolution_exp/data
/Sub_Tasks/20180720_classify_visualization/data
/Sub_Tasks/20180721_seg_visualization/data

/Labeling_Algos/data/
/Labeling_Algos/data_output/
