/env
/data_storage
/data_output
/archive
/demo
/security
/log/20171002_reversed_output/20171030_log_slowTraining
/model_storage
/class_imagenet/data
/class_particles/data
/class_transferLearning/data
/classification_v1/data
*.pyc
/segment_street
/segment_particles/data
