/env
/data_storage
/data_output
/archive
/demo
/security
/model_storage
/classify_imagenet/data
/classify_particles_tf/data
/classify_partiles_keras/data
/classify_transferLearning/data
*.pyc
/segment_street
/urine_particles/data
/segment_particles/personal_README.txt
